/*nav bar styles*/
nav{
    display:flex;
    justify-content:space-between;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
width: 1900px;
height: 130px;
}
nav > h3 > img{
    width: 80px;
height: 35px;


}
nav > h3{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}
.nav-title{
    margin-left:240px;
}
nav span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
nav > ul{
    display:flex;
    margin-right:240px;
}
nav li{
    list-style:none;
    margin-top:54px;
    margin-bottom:55px;
}
nav a{
    text-decoration:none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
    padding-right:32px;
}
.img-vector{
display:flex;
justify-content:center;
align-items:center;
width: 260px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
margin-top:47px;
margin-bottom:17px;

}
/*Banner section styles*/
.banner{
    width:1900;
    height:500;
    display:flex;
    justify-content:space-around;
}

.banner.content{
    display:flex;
    

}
.banner-content > h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top:50;
margin-bottom:50;
}
.banner-content > h2{
    color: #0B0223;
    font-size: 48px;
font-weight: 600;
margin-bottom:1px;
}
.banner-content h3{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}


.banner-btn1{
    width:156px;
    height:65px;
    border:none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.banner-btn2{
    width:156px;
    height:65px;
    border:none;
    border-radius: 48px;
    background: #4EC5F7;
}

/*card section styles starting*/

.card-section {
    display:flex;
    justify-content:space-around;

}

.card-section-title{
    text-align:center;
    color: #0B0223;
font-size: 48px;
font-weight: 700;
}

.card-section-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.card-section-description{
    color: #534C64;
font-size: 18px;
font-weight: 400;
text-align:center;
}

.cd{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}


/*2nd section style rule*/
.snd-section{
    display:flex;
    justify-content:space-between;
    padding-right:70px;
}
.snd-section-text{
    width:341px;
    height:180px;
    padding-left:439px;
    padding-top:200px;
    text-align:center;
}

.snd-section-text h1{
    text-align: right;
font-size: 48px;
font-weight: 700;

}
.snd-section-text > h1 > span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.snd-section-text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400
}
.under-img{
    position:relative;
    bottom:300px;
    right:135px;
}
/*last section styles*/
.game-category-section{
    width: 1900px;
height: 427px;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
padding-top:150px;



}
.last-section{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-around;
   
}
.category-section{
  display:flex;
}
.more{
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-around;
    margin-top:40px;
    space-between:5px;
}
/*footer section style*/
footer{
    width: 1900px;
height: 636px;
background: #0B0223;
}
.footer-title{
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer-title > span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-title{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding-top:120px;

}
.ft-text{
    display:flex;
justify-content:center;
gap:60px;
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
margin-bottom:40px;
}
.footer-icon{
    display:flex;
justify-content:center;
gap:40px;
color: #FFF;
margin-bottom:40px;
}
.ft-des{
    display:flex;
    display:flex;
    justify-content:center;
    gap:60px;
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}
.last-footer{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-top:10px;
}